<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>47975540098-kuu1cp1ok84iqm0atbsus20daoj2snj0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.47975540098-kuu1cp1ok84iqm0atbsus20daoj2snj0</string>
	<key>API_KEY</key>
	<string>AIzaSyD6_aoQZz-fWBJVlZ7xgGkctuXgKBRn37w</string>
	<key>GCM_SENDER_ID</key>
	<string>47975540098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>createmyself-hechizan.com.SiginApple-FirebasePush</string>
	<key>PROJECT_ID</key>
	<string>sigininapplefirebase</string>
	<key>STORAGE_BUCKET</key>
	<string>sigininapplefirebase.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:47975540098:ios:59a58301bcbd72d4149b9b</string>
</dict>
</plist>